/*
 * jQuery Nivo Slider v2.7
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */

#slider-container {
	background:#f6f6f6;
	border:5px solid #FFF;
	-webkit-box-shadow: 0 0 40px -20px #000;
	-moz-box-shadow: 0 0 40px -20px #000;
	-o-box-shadow: 0 0 40px -20px #000;
	box-shadow: 0 0 40px -20px #000;
}
#slider {
    width:785px; /* Make sure your images are the same size */
    height:204px; /* Make sure your images are the same size */
} 

/* The Nivo Slider styles */
 .nivoSlider {
    background:url("../images/loading.gif") no-repeat 50% 50%;
    position:relative;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	top:14%;
	background:#4F5111;
	border:1px solid #a5b223;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	padding:15px;
	width:35%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 10px;
    margin: 40px 0 0;
}
.nivo-caption .excerpt-title {
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	display:block;
	margin:0 0 5px;
	text-transform:uppercase;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	background:url("../images/arrows.png") no-repeat;
	cursor:pointer;
	display:block;
	height:35px;
	position:absolute;
	text-indent:-9999px;
	top:45%;
	width:35px;
	z-index:9;
}
a.nivo-prevNav {
	left:-20px;
}
a.nivo-nextNav {
    background-position: -37px 0;
    right: -20px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
